button {
  display: inline;
  align-items: center;
  justify-content: center;
  border-style: none;
  background-color:#D5DEAE;
  padding: 0 10%;
}

.oneThree {
background-color : #ffffff;
}

.box {
display: inline;
align-items: center;
justify-content: center;
}

.sample{
  width: 250px;
  height:40vh;
}

.card {
background-color: #D5DEAE;
}

header {
position: relative;
height: 800px;
min-height: 500px;
width: 100%;
background: #161415 url(./img/apple-biz.jpg) no-repeat top center;
background-size: cover !important;
-webkit-background-size: cover !important;
text-align: center;
overflow: hidden;
}

header .scrolldown a {
position: absolute;
bottom: 30px;
left: 50%;
margin-left: -29px;
color: #fff;
display: block;
height: 42px;
width: 42px;
font-size: 42px;
line-height: 42px;
color: #fff;
border-radius: 100%;
-webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
-o-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
}

header .scrolldown a:hover { color: #4c54f5; }

.homepage-header-text{
  color:white;
  font-size:12rem;
  font-family: 'Montserrat', sans-serif;
  margin-top:250px !important;
  opacity:.8;

}

.down-arrow{
  width:12vh;
  height:6vh;
  opacity:.7;
}

.down-arrow:hover{
  opacity:1;
}